.greetings-card {
    position: relative;
    width: 424px;
    height: 200px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 8px 30px 0px rgba(37, 36, 34, 0.07);
}

.greetings-card .frame {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 30px;
    left: 24px;
}

.greetings-card .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #6983bf;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.greetings-card .div {
    position: relative;
    width: fit-content;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: rgba(63, 82, 109, 1);
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.greetings-card .table {
    position: absolute;
    width: 376px;
    height: 80px;
    top: 120px;
    left: 24px;
}

.greetings-card .frame-2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: relative;
}

.greetings-card .group {
    width: 140px;
    position: relative;
    height: 80px;
}

.greetings-card .line {
    left: 120px;
    position: absolute;
    height: 100px;
    object-fit: cover;
}

.greetings-card .text-wrapper-2 {
    position: absolute;
    top: 10px;
    left: 0;
    font-family: "Poppins";
    font-weight: 400;
    color: #8296c5;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.greetings-card .text-wrapper-3 {
    position: absolute;
    top: 37px;
    left: 10px;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #cc2929;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.greetings-card .group-2 {
    width: 115px;
    position: relative;
    height: 80px;
}

.greetings-card .img {
    left: 111px;
    position: absolute;
    width: 1px;
    height: 80px;
    top: 0;
    object-fit: cover;
}

.greetings-card .text-wrapper-4 {
    left: 17px;
    position: absolute;
    top: 37px;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #435179;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.greetings-card .group-3 {
    width: 103px;
    margin-right: -4px;
    position: relative;
    height: 80px;
}

.greetings-card .line-2 {
    left: 99px;
    position: absolute;
    width: 1px;
    height: 80px;
    top: 0;
    object-fit: cover;
}

.greetings-card .text-wrapper-5 {
    left: 20px;
    position: absolute;
    top: 37px;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #435179;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.greetings-card .add {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 35px;
    left: 356px;
}

.greetings-card .ellipse {
    position: relative;
    width: 44px;
    height: 44px;
    background-color: #37b3b7;
    border-radius: 22px;
}

.greetings-card .ellipse:hover {
    background-color: #339aa9;
}

.greetings-card .vector {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 12px;
    left: 13px;
}

.post {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 8px 30px 0px rgba(37, 36, 34, 0.07);
}

.post .author {
    position: absolute;
    width: 142px;
    height: 45px;
    top: 131px;
    left: 20px;
}

.post .text-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: rgba(63, 82, 109, 1);
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.post .div {
    position: absolute;
    top: 24px;
    left: 0;
    opacity: 0.6;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: rgba(63, 82, 109, 1);
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.post .read {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    top: 135px;
    left: 240px;
}

.post .ellipse {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.circle-btn {
    background-color: #37b3b7 !important;
    color: white !important;
}

.circle-btn:hover {
    background-color: #339aa9 !important;
}

.post .icon {
    position: absolute;
    width: 18px;
    height: 9px;
    top: 15px;
    left: 11px;
}

.post .text-wrapper-2 {
    position: absolute;
    width: 236px;
    top: 29px;
    left: 32px;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: rgba(63, 82, 109, 1);
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 26px;
}

.post .line {
    position: absolute;
    width: 250px;
    height: 2px;
    top: 106px;
    left: 25px;
}

.chart-container {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 8px 30px 0px rgba(37, 36, 34, 0.07);
}

.menu {
    margin: 20px;
}
.content {
    padding-left: 250px;
}
.container-notification {
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Efect shadow */
    padding: 10px;
    width: 45px;
    height: 45px;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
}
.container-notification a {
    text-decoration: none; /* Menghapus dekorasi hyperlink */
    color: #8296c5; /* Warna teks */
}
.container-notification a:hover {
    color: #6fffe9; /* Warna teks saat dihover */
}
.containerContent {
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Efect shadow */
    width: 250px;
    height: 150px;
    /* margin-left: 30px;
    padding: 10px; */
    display: inline-flex;
    align-items: center;
}
.containerContent a {
    text-decoration: none; /* Menghapus dekorasi hyperlink */
    color: #8296c5; /* Warna teks */
}
.containeritem {
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Efect shadow */
    margin-left: 30px;
    padding: 10px;
    display: inline-flex;
    align-items: center;
    width: calc(100% - 120px);
}
/* Styling untuk item-item */
.item {
    padding-left: 265px;
    padding-bottom: 50px;
}
